* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    width: 100%;
    height: 100vh;
    background-image:
    linear-gradient(rgb(222, 206, 102), rgb(171, 30, 47));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h1 {
    margin-bottom: 25px;
    color: black;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}

.converter-row {
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px;
    border: 3px solid white;
}

.col {
    flex-basis: 32%;
    text-align: center;
}

.col label {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #fff;
}

.col input {
    width: 150px;
    height: 30px;
    background: white;
    /* border-radius: 5px; */
    text-align: center;
}
footer{
margin-top: 25px;
width: 100%;
height: 4rem;
/* background-color: black; */
justify-content: center;
align-items: center;
text-align: center;
color: #000;
font-weight: 700;
font-family: 'Libre Baskerville', serif;
font-size: larger;
}